fastapi
uvicorn
streamlit
python-dotenv
pydantic
pydantic-settings
sqlalchemy
passlib[bcrypt]
pyjwt
python-jose[cryptography]
email-validator
requests
pymupdf
python-docx
scikit-learn
pandas
numpy
sentence-transformers
chromadb
langchain
langchain-community
tiktoken
plotly