fastapi
uvicorn
streamlit
python-dotenv
pydantic
sqlalchemy
passlib[bcrypt]
pyjwt
pymupdf
python-docx
scikit-learn
pandas
numpy
sentence-transformers
chromadb
langchain
langchain-community
tiktoken
plotly